select{
    color: rgb(255, 255, 255);
    background-color:#000000;
    border: 0px;
    margin: 20px;
    font-weight: 900;
    font-size: 15px;
    
}

#filtre{
    background-color:#000000;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px;
}

h1{
    margin: 0;
    font-weight: 900;
    font-size: 38px; 
    line-height: 1;
    letter-spacing: -2.2px;
    text-transform: uppercase;
    padding: 25px;
}
h2{
    margin: 0;
    font-weight: 900;
    font-size: 25px; 
    line-height: 1;
    letter-spacing: -0.5px;
    
    padding: 10px;
    color: #fff;
}
p{
    margin: 0;
    font-weight: 900;
    font-size: 15px; 
    line-height: 1;
    letter-spacing: -0.5px;
    
    padding: 10px;
    color: #fff;
}
#produits{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(255px, 1fr));/*colones de tailles egale qui s'adaptent toutes seules*/
    gap:20px;/*espace entre les carte de produits*/
    padding: 20px;
}

.produit {
    background-color: #000000 ;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s;
    overflow: hidden;
}
.carousel {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden; /* Cache la 2ème image */
}

.imagesContainer {
    width: 100%;
    height: 100%;
}

.images {
    display: flex; /* Aligne les slides côte à côte */
    transition: transform 0.5s ease-in-out; /* L'effet de glisse */
    width: 100%;
    height: 100%;
}

.slide {
    min-width: 100%; /* Chaque slide prend toute la largeur */
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.indicators {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* Permet de cliquer sur l'image derrière */
}

.fleche {
    pointer-events: auto; /* Réactive le clic sur les boutons */
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.images:hover .fleche{
    display: block;
}
#gauche {left:5px}
#droite {right: 5px;}

.fleche:hover{
    background: rgba(255, 255,255, 0.8);
    color: #000000;
}

.btnAchat{
    color: rgb(255, 255, 255);
    background-color:#000000;
    border: 2px solid;
    border-radius: 20px;
    border-color: #fff;
    font-weight: 900;
    font-size: 15px;
    
}

.btnAchat:hover{
    color: #e67e22;
    border-color: #e67e22;

}

.modal {
    display: none; /* Caché par défaut */
    position: fixed;
    z-index: 1000; /* Toujours au-dessus */
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7); /* Fond sombre */
}
/* La boîte blanche au milieu */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Le bouton fermer (X) */
.fermer {
    position: absolute;
    right: 20px; top: 10px;
    font-size: 28px;
    cursor: pointer;
}
